table td {
  text-align: right;
}
.nav li small {
  font-size: 13px !important;
  color: #fff !important;
  margin: 15px;
  display: inline-block;
  cursor: auto;
}
.nav li a:hover {
  color: #52b9e9 !important;
}
.sidebar {
  float: none;
}
.sidebar-filler {
  left: auto;
  right: 0;
}
.mainbar {
  margin-left: 0;
  margin-right: 230px;
}
.form-inline .form-group {
  margin: 5px;
}
.form-inline .btn {
  margin: 10px 0;
}
.form-group.pull-right {
  width: 100%;
}
.grid {
  width: 100%;
  height: auto;
}
.my-custom-menu {
  position: absolute;
}
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.date-picker .dropdown-menu {
  right: auto;
  left: 0;
  float: none;
  text-align: left;
}
.date-picker .dropdown-menu table {
  margin-left: 8px;
}
.glyphicon-chevron-right {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.glyphicon-chevron-left {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-fluid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }
}
/*.ui-grid-column-menu-button
{
    left:0;
    right:0;
}
.ui-grid-icon-angle-down{
    float:left;
}
.ui-grid-filter-container{
     .ui-grid-filter-button [class^="ui-grid-icon"]{
         right :240px;
     }
     }*/
